{{> menu}}

<div class="container">
    <div class="table_container">

        <table class="table mb-5 ">
            <thead class=" ">
                <tr>
                    <th>Firestore</th>
                    <th>Day</th>
                    <th>Start at</th>
                    <th>End at</th>
                </tr>
            </thead>
            <tbody>
                {{#each schedules}}
                <tr>
                    <td scope="row"><a href="/user/{{user_id}}">{{firstname}}</a></td>
                    <td scope="row">{{getDay day}}</td>
                    <td>{{truncTime start_at}}</td>
                    <td>{{truncTime end_at}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>