{{> menu}}

<div class="container ">
    <div class="cards_container">
        {{#if movies}}
        {{#each movies}}
        <div class="movie_card " style="background-image: url('{{large_cover_image}}');">
            <div class="movie_card_content">
                <div class="movie_header">
                    <h3>{{title_english}}</h3>
                    <span>{{year}}</span>
                    {{!-- <span>{{ConvertRateTo5stars rating}}</span> --}}
                    <span>rate {{rating}}</span>
                </div>
                <p>{{synopsis}}</p>
                <div class="movie_rate">
                    <form class="rating" data-user-id="{{../userId}}" data-movie-id="{{id}}">
                        <label>
                            <input type="radio" name="stars" value="1" />
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                    </form>
                </div>
            </div>

        </div>
        {{/each}}
        {{/if}}
    </div>
</div>


{{!-- {{background_image} --}}
{{!-- {{title_long}} --}}
{{!-- {{synopsis}} --}}